@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

body {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background: #111111;
  display: grid;
  grid-template-columns: 26vw 1fr;

  > div:not(.menu) {
    height: 100%;
  }
}

:where(.flex-center) {
  display: flex;
  align-items: center;
  justify-content: center;
}

button,
input:where([type='submit'], [type='color'], [type='radio'], [type='checkbox']) {
  cursor: pointer;
}

.menu {
  height: 100vh;
  background: #222;
  color: #fff;
  flex-direction: column;
  justify-content: flex-start;

  h1 {
    padding: 10px;
  }

  .option-group {
    width: 90%;
    font-size: 1.4rem;
    cursor: pointer;
    background: #333;
    padding: 5px;
    text-align: center;
    position: relative;
    margin-top: 10px;

    span {
      position: absolute;
      right: 10px;
      transform: rotate(90deg);
    }
  }

  .option {
    width: 90%;
    font-size: 1.3rem;
    background: #444;
    padding: 10px;
    display: none;

    div {
      margin-bottom: 20px;
    }

    input:not([type='radio'], [type='checkbox']) {
      display: block;
      margin: 5px 0;
      width: 100%;
      font-size: 1.1rem;
    }
  }
}

.setup {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  color: #fff;
  background: #111;
  flex-direction: column;
  gap: 40px;
  display: none;

  > div {
    gap: 20px;
    width: 70%;

    > div {
      flex-direction: column;
      gap: 5px;
    }
  }

  input {
    width: 10ch;
    text-align: center;
    font-size: 1.6rem;
    display: block;
  }

  button {
    padding: 5px 10px;
    background: red;
    color: #fff;
    font-size: 1.6rem;
    border: 0;
    box-shadow: 2px 2px 2px darkred;
    transform: translate(0, 0);
    transition: transform 0.2s, box-shadow 0.2s;

    &:active {
      transform: translate(2px, 2px);
      box-shadow: 0 0 0 darkred;
    }
  }
}

canvas {
  background: #555;
  background-size: cover;
}
